[submodule "module/src/main/cpp/external/libcxx"]
	path = module/src/main/cpp/external/libcxx
	url = https://github.com/topjohnwu/libcxx
[submodule "module/src/main/cpp/external/elfio"]
	path = module/src/main/cpp/external/elfio
	url = https://github.com/serge1/ELFIO.git
